body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-image: url('memorija.jpg'); /* зимска позадина */
    background-size: cover;
    background-position: center;
    color: white;
}

h1{
    color: gold;
    text-shadow: 2px 2px 5px red;
}

p{
    color: #ffcccc;
    font-weight: bold;
}

#board {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 15px;
    justify-content: center;
}

.card {
    width: 100px;
    height: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    background-color: red; /* црвена боја за празнична карта */
    border-radius: 15px; /* округли картички како топки */
    font-size: 40px;
    cursor: pointer;
    box-shadow: 0 0 10px #fff, 0 0 20px gold inset;
    transition: transform 0.3s, background-color 0.3s;
    user-select: none;
}

.card.open {
    background-color: green;
    transform: rotateY(180deg);
}

.card.matched {
    background-color: gold;
    color: red;
    cursor: default;
    box-shadow: 0 0 15px white, 0 0 25px red inset;
}

#message{
    color: gold;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    text-shadow: 1px 1px 2px red;
}
